#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Encoding=UTF-8
Version=1.1
Name=Eclipse IDE for Java Developers - 2020-12
Exec=env GTK_IM_MODULE=ibus /home/krishh/eclipse/java/eclipse/eclipse
Categories=Development;IDE;
Icon=/home/krishh/eclipse/java/eclipse/icon.xpm
